"*":
  editor:
    invisibles: {}
    showInvisibles: true
    fontSize: 12
  core:
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
    followSymlinks: true
  "exception-reporting":
    userId: "5a7ba904-d09c-7987-5b66-4b43c1efc366"
  welcome:
    showOnStartup: false
  linter: {}
  "git-diff":
    showIconsInEditorGutter: true
  whitespace:
    removeTrailingWhitespace: false
    ignoreWhitespaceOnlyLines: true
